body{
    background-color: black;
}
#top{
    display: flex;
   
    
}
#video{
    
    display:flex;
   
    
}
.navbar{
    position: absolute;
    display: flex;
}
.video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    
}
#fed{
border-radius: 15px;
    font-size: 20px;
    position: absolute;
    display: flex;
    margin-left:90%;
    margin-top:70%;
    color:rgb(0, 0, 0);
    padding:5px;
    
}
#book{
    font-size: 35px;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: absolute;
    margin-left: 45%;
    margin-right: 30%;
    margin-top: 33%;
    padding:5px;
   
    
}
#fed{
  transition: all 0.3s ease;

}
#fed:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
#book:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
#to{
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size: 80px;
}
#vtext{
    position:absolute;
    
    border-radius: 15px;
    margin-top: 22.5%;
    margin-left: 38.5%;
   
    padding:10px;
    
}
#show{
    position:absolute;
    z-index: 1;
    padding:10px;
    margin: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e68c38;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .card {
    border:2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    min-height:10%;
    margin-left:70px;
    margin-right:70px;
    margin-bottom: 120px;
    
    
  }
  #mysidenav .card{
    margin-bottom: 150px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .card:hover .overlay{
    bottom: 0;
  height: 100%;
  }
  
  .text {
    color: rgb(0, 0, 0);
    background-color: lightblue;
    border-radius: 15px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(48, 68, 158);
    opacity:0.7;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .container {
    
    padding: 2px 16px;
    background-color: lightpink;
  }
  #cimg{
    height:100%;
  }
  #cards{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 10px;
    
 
  }
 
 
  #mysidenav2{
    z-index: 3;
    background-image: url("t.jpg") ;
    background-size: cover;
  }
  #mysidenav{
    z-index: 3;
    background-image: url("circle.jpg") ;
    background-size: cover;
  }
#mysidenav4{
  background-image:url('https://us.123rf.com/450wm/backgroundstore/backgroundstore1603/backgroundstore160300485/53459241-dark-spotlight-clean-room-background.jpg?ver=6');
  background-size: cover;
  z-index: 3;

}

  .icon-bar {
    position: absolute;
    background-color: black;
    
    z-index: 2;
    margin-left: 94%;
    top: 50%;
  
    transform: translateY(-50%);
    display:flex;
    flex-direction: column;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
   
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@media screen and (max-width:500px){
  .icon-bar{
  float:none;
  width:100%;
  padding-right: 0mm;
  }
}
  

li span{
  transition: all 0.5s ease;

}
li span:hover{
background-color: black;
border-radius: 25px;
padding:10px;
}
#nav-item{
  background-color: black;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

  
  .fa{
    color:white
  }

  #info{
    position:absolute;
    background-color: rgb(233, 112, 14);
    padding:20px;
    margin-top: 3%;
    margin-left: 91%;
  }

  #s1 a:hover,#s2 a:hover{
        
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  
       }
 #s1,#s2{
padding:4px;
transition: all 0.3s ease;
 }
 #hidden{
    position:absolute;
    margin-top: 3%;
      margin-left: 90%;
  }
  .he h1{
      font-size: 80px;
  }
 @media  screen and  (max-width:800px){
 .he h1{
   transition: 0.5s ease;
    font-size: 40px;
    
   }
   .icon-bar{
     margin-left:80%;
     margin-top:90%;
     flex-direction: row;
    transform: translateX(-80%);
    padding-left: 10px;
    height: 79px;
    transition: 0.7s ease;
   }
   #fed{
     margin-top:110%;
     font-size: 20px;
     margin-left: 48%;
    transition: 0.7s ease;
   }
   #book{
    margin-top:95%;
    font-size: 20px;
    transition: 0.7s ease;

   }
   #info,#hidden{
     margin-left: 80%;
     transition: 0.7s ease;

   }
#vtext{
  margin-top: 74%;
}

 }
 @media  screen and  (min-width:800px){
  .he h1,.icon-bar,#fed,#book,#info{
    transition: 0.7s ease;
  }
 

}

.wrapper{
  width:1200px;
  margin:100px auto;
 
}
.title{
  text-align:center;
  margin-bottom:60px;
}

.title h4 span{
  display:block;
  font-size:25px;
  color: #e68c38;
  margin-bottom:10px;
}
.title h4{
  color:white;
}

.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.single-menu{
  
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
  display:flex;
  
  align-items:center;
}
.single-menu:hover img{
  border-radius:0;
  border:transparent;
}
.single-menu img{
  display: flex;
  width:200px;
  height: 150px;
  margin-right:30px;
  border-radius:40%;
  border:1px solid #ddd;
  padding:3px;
  transition:0.5s;
}
.single-menu h4{
  text-transform:capitalize;
  font-size:22px;
  color:rgb(238, 39, 238);
  border-bottom:1px dashed #333;
  margin-bottom:5px;
  padding-bottom:5px;
}
.single-menu p{
  color: white;
}
.single-menu h4 span{
  float:right;
  color:#ff7720;
  font-style:italic;
}
#cla h3{
  color: #5dd6b2;
  margin-bottom:60px;
  margin-left: 20px;
  
}
@media screen and (max-width:1100px){
 
  .menu{
    display: grid;
    margin-left: 100px;
    transition: .7s ease;
  }
  #cla{
    margin-left: 20px;
    transition: .7s ease;
  }
  .title{
    transform: translateX(-30%);
    transition: .7s ease;
  }
}
@media screen and (min-width:1100px){
  .menu,#cla,.title{
    transition: .7s ease;

  }
}
@media screen and (max-width:500px){
    .menu{
        margin-left:0;
    
    }
    .single-menu img{
        width:10%;
    }
   
}

.dropdown-menu{
  background-color: lightblue;
  margin-right: 25px;
}
#mottam{
  margin-top:100px;
  margin-left:5%;
}
#payina h4{
  display:flex;
  margin-left: 20%;
  margin-right: 30px;
}
#payina img{
 min-width:350px;
  height:200px;
}
#payina{
  margin-bottom: 80px;
  min-height:400px;
  margin-right: 30px;
}
#p{
  color: white;
  text-align: center;
  margin-top: 40px;
}
#payina h2{
  margin-bottom: 20px;
}
#cont{
  display: flex;
}
h2{
  color: rgb(0, 0, 0);
}
#mysidenav8{
  z-index:10;
  background-color: rgb(236, 125, 125);
}
#mysidenav8 .closebtn{
    color: black;
}
@media screen and (max-width:1000px){
  #cont{
      flex-wrap: wrap;
  }
  #payina h4{
    margin-top: 20px;
  }
}

  
#mysidenav9{
    z-index: 4;
    background-color: rgb(44, 43, 43);
}
  
 #mot{
   margin:20px;
 }
 #sagam{
   margin-top: 50px;
   margin-bottom: 100px;
   margin-left: 150px;
   margin-right: 150px;
   background-color: white;
   padding:50px
 }
 #beta{
   margin-left: 20px;
   display: flex;
  
 }
 #beta img{
   margin-right: 40px;
   display: flex;
  
 }
 #beta h4{
   background-color:wheat;
   color:black;
 
   padding:60px;

   height:200px;
   width:555px
 }
  #kalupu{
    flex-wrap: wrap;
  }

@media screen and (max-width:1200px){
  #beta{
    flex-wrap: wrap;
  }
}


